'.source.gfm':
# Setup - introduce new plot device
  'Setup Beat':
    'prefix': 'SETUP'
    'body': '<!-- SETUP: $1 -->'
# Payoff - create closure on a plot device
  'Payoff Beat':
    'prefix': 'PAYOFF'
    'body': '<!-- PAYOFF: $1 -->'
# Scene - unified by time
  'Scene':
    'prefix': 'SCENE'
    'body': """
<!-- SCENE: $1
setting: $2
date: $3
goal: $4
conflict: $5
disaster: $6
synopsis: $7
-->
"""
# Sequel - unified by topic
  'Sequel':
    'prefix': 'SEQUEL'
    'body': """
<!-- SEQUEL: $1
setting: $2
date: $3
reaction: $4
dilemma: $5
decision: $6
synopsis: $7
-->
"""
  'Story Idea':
    'prefix': 'IDEA'
    'body': '<!-- IDEA: $1 -->'
  'Synopsis':
    'prefix': 'SYNOPSIS'
    'body': '<!-- SYNOPSIS: $1 -->'
  'Note':
    'prefix': 'NOTE'
    'body': '<!-- NOTE: $1 -->'
  'Rewrite':
    'prefix': 'REWRITE'
    'body': '<!-- REWRITE: $1 -->'
  'Hook':
    'prefix': 'HOOK'
    'body': '<!-- HOOK: $1 -->'
