'.source.gfm':
  # Index CARD for OUTLINEs (Beat Sheet)
  'Index Card':
    'prefix': 'CARD'
    'body': """
### CARD: $0

* POV Character: $1
* POV Goal: $2
* Supporting Characters: $3
* Emotional Change: $4
* Conflict: $5

"""
# Setup - introduce new plot device
  'Setup':
    'prefix': 'SETUP'
    'body': '<!-- SETUP: $0 -->'
# Payoff - create closure on a plot device
  'Payoff':
    'prefix': 'PAYOFF'
    'body': '<!-- PAYOFF: $0 -->'
# Scene - unified by time
  'Scene':
    'prefix': 'SCENE'
    'body': """
<!-- SCENE: $0
setting: $1
date: $2
pov: $3
goal: $4
conflict: $5
disaster: $6
-->
"""
# Sequel - unified by topic
  'Sequel':
    'prefix': 'SEQUEL'
    'body': """
<!-- SEQUEL: $0
setting: $1
date: $2
pov: $3
reaction: $4
dilemma: $5
decision: $6
-->
"""
  'Story Idea':
    'prefix': 'IDEA'
    'body': '<!-- IDEA: $0 -->'
  'Synopsis':
    'prefix': 'SYNOPSIS'
    'body': '<!-- SYNOPSIS: $0 -->'
  'Note':
    'prefix': 'NOTE'
    'body': '<!-- NOTE: $0 -->'
  'Remove':
    'prefix': 'REMOVE'
    'body': '<!-- REMOVE: $0 -->'
  'Review':
    'prefix': 'REVIEW'
    'body': '<!-- REVIEW: $0 -->'
  'Rewrite':
    'prefix': 'REWRITE'
    'body': '<!-- REWRITE: $0 -->'
  'Hook':
    'prefix': 'HOOK'
    'body': '<!-- HOOK: $0 -->'
  'todo':
    'prefix': 'TODO',
    'body': '<!-- TODO: $0 -->'
  'fixme':
    'prefix': 'FIXME',
    'body': '<!-- FIXME: $0 -->'
  'question':
    'prefix': 'question'
    'body': '<!-- QUESTION: $0 -->'
