'name': 'Wrytedown'
'scopeName': 'source.gfm.wrytedown'
fileTypes: [
  'md'
  'markdown'
  'wd'
  'wrytedown'
]
'patterns': [
  {
    include: 'source.gfm'
  }
  {
    'captures':
      '1':
        'name': 'markup.underline.link.radar'
    'match': '<(ra?dar:/(?:/problems?|)/(?:[&0-9]+))>'
    'name': 'storage.type.class.radar'
  }
]
injections:
  'L:comment.block.gfm':
    patterns: [
      {
        'match': '(?<!\\w)@?(NOTE|IDEA|REMOVE|REVIEW|REWRITE|SETUP|PAYOFF|SCENE|SEQUEL|HOOK|setting|date|goal|conflict|disaster|reaction|dilemma|decision|synopsis|pov):'
        'name': 'storage.type.class.${1:/downcase}'
      }
    ]
injections:
  'L:source.gfm.wrytedown':
    patterns: [
      {
        match: '["“](?:.(?!["“]))*.?["”\n]'
        name: 'source.gfm.wrytedown.dialogue'
      }
    ]
